@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #9bd6d8c5;
    --cor01: #38f2af ;
    --cor02: #3ddb84;
    --cor03: #38f268;
    --cor04: #35e841;
    --cor05: #26D40B;
    --cor06: #448701;
    --cor07: #345B36;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'bebas neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}


header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor06));
    background-color: var(--cor07);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family:var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 3em;    
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    color: white;
    font-size: 1.2em;
    font-family: var(--font-padrao);
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
 
nav {
    background-color: var(--cor06);
    padding: 10px;
    box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.192);
}
nav > a {
    color: var(--cor01);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor0);
    color: var(--cor07);
}

main {
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color:var(--cor07) ;
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor07);
    font-weight: normal;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor03), transparent);
    text-indent: 8px;
}


main p {
    margin: 15px 0px;
    text-align:justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: var(--cor06);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor06);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor06);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 10px;
}

aside > h3 {
    background-color: var(--cor06);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.267);

}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00a0';
}

footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: black;
}
